{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{object.title}}{% endblock title %}</title>
    </head>
    <body>
        <h3>{{objects.title}}</h3>
        <hr>
        <p>{{objects.description}}</p>
        <div>
            {{objects.author}}|{{objects.pub_date}}
        </div>
        <hr>
        <div>
            {% for Comment in object %}
                {{object.comment}}
                <h5>{{comment.name}}</h5>
            {% endfor %}
        </div>
        <form action="" method="post">{% csrf_token %}
            {{form.as_p}}
            <button type="submit">submit</button>
        </form>
    </body>
    </html>
{% endblock content %}