{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{objects.title}}{% endblock title %}</title>
    </head>
    <body>
        <h3>{{objects.title}}</h3>
        <hr>
        <p>{{objects.description}}</p>
        <div>
            {{objects.author}}|{{objects.pub_date}}
        </div>
        <hr>
        <div>
            {% for Comment in object.comments.all %}
            <b>{{Comment.author}}|{{Comment.comment}}</b>
            {% endfor %}
            
                <form action="" method="post">{% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Comment</button>
                </form>
        </div>
    </body>
    </html>
{% endblock content %}